$background:#424734;
$clockbackground:#3C412C;
$min_hrhand:#FCFFE6;
$clockcore:#FA8731;

@import "_mixin";
body
{
  background-color: $background;
}

.clockcontainer
{
  max-width: 250px;
  margin: 0 auto;

  h1
  {
    position: relative;
    margin-top: -50px;
    color:$clockcore;
  }

  .clockface
  {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    height: 250px;
    width: 250px;
    background-color: $clockbackground;
    border-radius: 50%;
    border-color: silver;
    text-align: center;
  }

  .centerpoint
  {
    position: absolute;
    border-radius: 50%;
    background-color: $clockcore;
    top: 50%;
    left: 50%;
    z-index: 20;
    height: 20px;
    width: 20px;
    margin-top:-10px;
    margin-left:-10px;
  }

  .secondhand
  {
    @include clockhand(145px, 3.0px,-1.25px,-110.50px,5);
    transform-origin:35% 75.5%;
  }

  .minhand
  {
    @include clockhand (100px,8px,-4px,-99px,3);
    transform-origin:bottom center;
  }

  .hourhand
  {
    @include clockhand (80px,10px,-5px,-80px,0);
    transform-origin:bottom center;
  }

  .triangle
  {
    position: absolute;
    height: 10px;
    top:0;
    width: 3.0px;
    margin-left: 0.24px;
    margin-top: -5px;
    background-color: transparent;
    border-radius: 50px;
  }

  p
  {
   position: relative;
   top: 205px;
   font-size: 12px;
   text-align: center;
   color:silver;
   z-index: 0;
   opacity: 0.5;
   text-transform: uppercase;
   font-family: 'Maven Pro', sans-serif;
  }

}
